@font-face {
  font-family: NeueHaasMedium;
  src: url(../fonts/NeueHaasMedium.ttf);
}
@font-face {
  font-family: NeueHaasRegular;
  src: url(../fonts/NeueHaasRegular.ttf);
}
html {
  height: 100%;
}

@keyframes arrow {
  0%   {left: 0px;}
  50% {left: 15px;}
  100%   {left: 0px;}
}

.anim{
  width: 30px;
  position:relative;
  animation: arrow 1s linear infinite;
}

body {
  margin: 0;
  color: #2C2C2C;
  font: 16px/26px 'NeueHaasRegular', sans-serif;
  background: #fff;
  min-width: 320px;
  height: 100%;
  -ms-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.gif {
  max-width: 100%;
  height: auto;
}
img {
  border-style: none;
}
a {
  color: #000;
  text-decoration: none;
  outline: none;
}
a:hover {
  text-decoration: none;
}
button {
  cursor: pointer;
}
* {
  outline: none;
}
/* BEGIN archive page */
.archive-page {
  font-size: 18px;
  line-height: 24px;
}
.archive-page .fluid-container {
  padding-left: 30px;
  padding-right: 30px;
}
#auth_confirm_input{
  position: absolute;
  left: 30px;
  border-radius: 5px 5px
}
.archive-header {
  padding: 30px 0 13px;
  -js-display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  justify-content: space-between;
}
.archive-header__title {
  text-transform: uppercase;
  font-size: 30px;
  line-height: 44px;
  margin: 0;
  font-weight: normal;
  letter-spacing: 1px;
}
.archive-header__logo {
  font-size: 50px;
  line-height: 1;
}
.archive-header__logo .logo {
  color: #000;
  text-decoration: none !important;
}
.archive-row {
  -js-display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.archive-column {
  -webkit-box-flex: 0 0 50%;
  -moz-box-flex: 0 0 50%;
  -webkit-flex: 0 0 50%;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  min-width: 0;
  margin-bottom: 40px;
}
.archive-column--right {
  padding-left: 40px;
  -webkit-box-ordinal-group: 2;
  -moz-box-ordinal-group: 2;
  -ms-flex-order: 2;
  -webkit-order: 2;
  order: 2;
}
.archive-visual {
  /* background: #DFE4E8; */
}
.embed-responsive {
  position: relative;
  display: block;
  width: 100%;
  padding: 0;
  overflow: hidden;
}
.embed-responsive:before {
  content: "";
  display: block;
  padding-top: 56.25%;
}
.embed-responsive .embed-responsive-item,
.embed-responsive embed,
.embed-responsive iframe,
.embed-responsive object,
.embed-responsive .jwplayer,
.embed-responsive video {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
  border: 0;
}
.paging {
  margin: 0 -10px 12px;
  padding: 0;
  list-style: none;
  font-size: 18px;
  /* li {
		display: inline-block;
		vertical-align: top;
	} */
}
.paging #mediamenu {
  -js-display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
  max-width: 700px;
}
.paging button {
  margin: 0 10px 10px;
  width: 2.778em;
  height: 2.778em;
  border: 1px solid #DFE4E8;
  background: none;
  border-radius: 4px;
  text-align: center;
  font-size: 1em;
  line-height: 2.667em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.paging button.active,
.paging button:hover {
  text-decoration: none;
  background: #DFE4E8;
}
.paging--active a {
  background: #DFE4E8;
}
.lesson-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.lesson-list li {
  margin: 0 0 20px;
}
.lesson-list--has-col {
  column-count: 2;
}
#medialist .option {
  display: none;
  column-count: 2;
}
#medialist .option:first-child {
  display: block;
  -js-display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
  max-height: 440px;
  height: 440px;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
}
#medialist .option button {
  display: block;
  margin: 0 0 23px;
  border: none;
  background: none;
  padding: 0;
  font-size: inherit;
  text-align: left;
  cursor: pointer;
}
#medialist .option button.active span,
#medialist .option button:hover span {
  background: -moz-linear-gradient(left, #000000, #000000 100%, transparent 100%);
  background: -ms-linear-gradient(left, #000000, #000000 100%, transparent 100%);
  background: -o-linear-gradient(left, #000000, #000000 100%, transparent 100%);
  background: -webkit-gradient(linear, 0 0, 100% 0, from(#000000), color-stop(1, #000000), color-stop(1, transparent));
  background: -webkit-linear-gradient(left, #000000, #000000 100%, transparent 100%);
  background: linear-gradient(left, #000000, #000000 100%, transparent 100%);
  background-size: 10px 2px;
  background-repeat: repeat-x;
  background-position: 0 100%;
}
.archive-text__title {
  font-size: 20px;
  margin: 0 0 6px;
  font-family: NeueHaasMedium;
}
.archive-text p {
  margin: 0;
  margin-bottom: 10px;
}
.archive-text a {
  /* text-decoration: underline; */
  text-decoration: none;
  color: #000;
  background: -moz-linear-gradient(left, #000000, #000000 100%, transparent 100%);
  background: -ms-linear-gradient(left, #000000, #000000 100%, transparent 100%);
  background: -o-linear-gradient(left, #000000, #000000 100%, transparent 100%);
  background: -webkit-gradient(linear, 0 0, 100% 0, from(#000000), color-stop(1, #000000), color-stop(1, transparent));
  background: -webkit-linear-gradient(left, #000000, #000000 100%, transparent 100%);
  background: linear-gradient(left, #000000, #000000 100%, transparent 100%);
  background-size: 10px 2px;
  background-repeat: repeat-x;
  background-position: 0 100%;
}
.archive-text a:hover {
  text-decoration: none;
  background: none;
}
/* BEGIN modal */
.vex.vex-theme-default .vex-content {
  color: #000;
  font-family: 'Neuehaas', sans-serif;
  font-size: 1em;
  background: #fff;
}
.vex.vex-theme-default .vex-dialog-form .vex-dialog-input input[type="text"] {
  border: 1px solid #DFE4E8;
  font-family: 'Neuehaas', sans-serif;
}
.vex.vex-theme-default .vex-dialog-button.vex-dialog-button-secondary {
  background: none;
  color: #000;
  border: 1px solid #DFE4E8;
}
.vex.vex-theme-default .vex-dialog-button.vex-dialog-button-primary {
  background: #DFE4E8;
  border: 1px solid #DFE4E8;
  color: #000;
}
/* END modal */
@media screen and (max-width: 1560px) {
  .archive-page {
    font-size: 14px;
    line-height: 20px;
  }
  .archive-column--right {
    padding-left: 30px;
  }
  .paging {
    font-size: 10.8px;
    margin-right: -5px;
    margin-bottom: 5px;
  }
  .paging a span {
    font-size: 1.4em;
  }
  .paging button,
  .paging li {
    margin-right: 5px;
  }
  .paging button {
    width: 30px;
    height: 30px;
    font-size: 14px;
    line-height: 28px;
  }
  .paging #mediamenu {
    max-width: 500px;
  }
  #medialist .option:first-child {
    max-height: 300px;
  }
  .lesson-list li {
    margin-bottom: 10px;
  }
  #medialist .option button {
    margin-bottom: 13px;
  }
  .archive-text__title {
    font-size: 16px;
  }
  .archive-column {
    margin-bottom: 30px;
  }
}
/* @media screen and (max-width: 1150px){ */
@media screen and (max-width: 1024px) {
  .archive-row {
    display: block;
  }
  .archive-column {
    margin-bottom: 0;
  }
  .archive-column--right {
    padding: 0;
  }
  .lesson-list {
    margin-bottom: 5px;
  }
  .lesson-list--has-col {
    column-count: 4;
  }
  .archive-visual {
    margin-bottom: 13px;
  }
  .archive-text {
    margin-bottom: 13px;
  }
  #medialist .option:first-child {
    max-height: 150px;
    height: 150px;
  }
}
@media screen and (max-width: 900px) {
  .lesson-list--has-col {
    column-count: 2;
  }
}
@media screen and (max-width: 767px) {
  .archive-page {
    font-size: 11px;
    line-height: 14px;
  }
  .archive-page .fluid-container {
    padding-left: 15px;
    padding-right: 15px;
  }
  .archive-header {
    padding: 15px 0 14px;
  }
  .archive-header__title {
    font-size: 20px;
    line-height: 23px;
  }
  .archive-header__logo {
    font-size: 25px;
    width: 25px;
    height: 25px;
  }
  .archive-header__logo img {
    max-width: 100%;
    vertical-align: top;
    height: auto;
  }
  .paging {
    margin-left: -5px;
    margin-right: -5px;
    margin-bottom: 0;
    font-size: 9px;
  }
  .paging li {
    margin-left: 5px;
    margin-right: 5px;
  }
  .paging a span {
    font-size: 1.15em;
  }
  .paging button {
    width: 25px;
    height: 25px;
    line-height: 22px;
    font-size: 10px;
    margin-left: 5px;
    margin-right: 5px;
  }
  .lesson-list {
    margin-bottom: 7px;
  }
  .archive-text__title {
    font-size: 13px;
  }
  #medialist .option:first-child {
    max-height: 240px;
    height: auto;
  }
  #medialist .option button {
    margin-bottom: 11px;
  }
  .archive-visual {
    margin-bottom: 10px;
  }
}
/* END archive page */

/* CSS вне LESS-файла */
/* Announcement bar */
#announcement {
	background: rgb(252, 70, 30);
	color: #fff;
	display: block;
	position: fixed;
	bottom: 0;
	width: 100%;
	padding: 10px 0px;
	text-align: center;
  z-index: 100;
}

#announcement p {
  margin: 0;
}

/* Нумерованный список */
ol {
  padding-left: 0;
  margin: 0 0;
  list-style: inside decimal;
}

li {
  margin-bottom: 10px; /* Такой же margin, как и у .archive-text p */
}

/* Заголовок страницы */
.archive-header__title {
  font-family: NeueHaasMedium;
}

/* Дефолтные настройки JW плеера в случае как отсутствия данных, так и наличия */
#mediaplayer {
  display: block;
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
